.top-bar-item-container {
    width: 100px;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px 5px 20px;
    /* border-radius: 10px; */
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.top-bar-item-container.selected {
    color: white;
}

.top-bar-item-container.selected::after {
    /* background-color: red; */
    content: "";
    border-top: red 5px solid;
    position: absolute;
    width: 100px;
    margin-left: -50px;
    border-radius: 10px;
}

.top-bar-item-container:hover {
    background-color: rgba(122, 122, 122, 0.5);
    color: white !important;
}

@media only screen and (max-width: 768px) {
    .top-bar-item-container {
        width: 50px;
    }

    .top-bar-item-container.selected::after {
        width: 50px;
        margin-left: -20px;
    }
}
