.content-top-bar {
    /* border-bottom: 2px solid rgba(222,222,222,1);
    box-shadow: 0px 2px rgba(192, 192, 192, 1); */
}

.content-top-bar-items-container {
    display: inline-flex;
    margin: 10px 10px 5px 10px;
    /* border: 1px red solid; */
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    border-bottom: 3px solid rgba(0,0,0,0);
    transition: border-bottom-color 0.3s;
}

.content-top-bar-items-container.selected {
    border-bottom-color: red;
}

.content-top-bar-items-container:hover {
    cursor: pointer;
    border-bottom-color: red;
    background-color: rgb(30,30,30);
}

.songs-search-bar{
    background-color: white;
    border-radius: 40px;
    width: 10px;
    height: 45px;
    background-image: url('../../images/search-icon.png');
    background-position: 12px 9px;
    background-repeat: no-repeat;
    padding-left: 45px;
    transition: width 0.5s ease-in-out
    }

.songs-search-bar:focus {
     outline: none;
     width: 100%
}
