.sidebar-container {
    display: flex;
    align-items: stretch;
}

.fs-sm {
    font-size: small !important;
}
.fs-md {
    font-size: medium !important;
}
.fs-lg {
    font-size: large !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#mainapp-sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #020202;
    color: #fff;
    transition: all 0.3s;
}

#mainapp-sidebar .sidebar-header {
    padding: 20px;
    background: #34363d;
}

#mainapp-sidebar .sidebar-subheader {
    text-transform: uppercase;
    color: grey;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

#mainapp-sidebar ul.components {
    padding: 20px 0;
}

#mainapp-sidebar ul.components div.seperator {
    height: 1px;
    border: 1px rgba(128, 128, 128, 0.5) solid;
    margin: 10px;
    /* margin: 5px 0 5px 0; */
}

#mainapp-sidebar ul.components li {
    margin: 5px 5px 5px 5px;
}

#mainapp-sidebar ul.components li .item-container {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: all 0.3s;
}

#mainapp-sidebar ul.components li .item-container:hover,
#mainapp-sidebar ul.components li .selected {
    background-color: red;
    cursor: pointer;
}

#mainapp-sidebar ul.components li .item-container .item-container-text {
    color: white;
    transition: all 0.3s;
    margin-left: 5px;
}

#mainapp-sidebar ul.components li .item-container:hover .item-container-text {
    margin-left: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #mainapp-sidebar {
        margin-left: -250px;
    }
    #mainapp-sidebar.active {
        margin-left: 0;
    }
    #mainapp-sidebarCollapse span {
        display: none;
    }
}
