.table-item-container {
    display: grid;
    grid-template-columns: 5% 10% 70% 15%;
    padding: 10px;
}

.table-item-container-number {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-item-container-image {
    background-color: antiquewhite;
    border-radius: 5%;
    width: 50px;
    height: 50px;
}

.table-item-container-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.table-item-container-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}

.table-item-container-details {
    font-size: 13px;
    color: gray;
}

.table-item-container-actions {
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 65px;
}