.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  color: white;
}

.collapsible {
  border-radius: 15px;
  font-weight: bold;
}

.active,
.collapsible:hover {
  background-color: #ffffff;
}

.collapsible:after {
  font-weight: bold;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
