.button {
  background-color: #4caf50;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  color: white;
}

.collapsible {
  background-color: #ffffff;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 15px;
  font-weight: 250px;
  padding: 12px;
  text-align: left;
  width: 60%;
}

.active,
.collapsible:hover {
  background-color: #f0f0f0;
}

.collapsible:after {
  font-weight: bold;
}

.active:after {
  content: "\2212";
}

.content {
  border: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.flexible {
  justify-content: center;
}

.image {
  background-color: #f8f6cc;
  background-image: url(/src/images/home-bg.png);
  background-position: center;
  height: 100vh;
}