.home-body {
  background-color: #f8f6cc;
  background-image: url(/src/images/home-bg.png);
  background-position: center;
  height: 100vh;
}

.home-h1 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #104043;
  padding-top: 20vh;
}

.home-h2 {
  font-size: 20px;
  text-align: center;
  color: #104043;
}

.home-logo {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #deb099;
}

@media only screen and (max-width: 600px) {
  .home-logo img {
    width: 150px;
  }
}
