.core {
  background-color: rgb(255, 255, 255);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .Deactivate {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.Activate {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.Deactivate:hover {
  background-color: #444;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

input[type="text"],
.PassVisibility {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.Label {
  color: rgb(85, 85, 85);
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
}

.LinkText {
  color: rgb(85, 85, 85);
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 570;
  text-decoration: none;
}

.LinkText:hover {
  color: rgb(85, 85, 85);
}

.Button {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  color: rgb(155, 155, 155);
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px rgb(122, 122, 122);
  padding: 10px 40px;
}

.Button:hover {
  background-color: rgb(230, 230, 230);
}

.PassButton {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  color: rgb(177, 177, 177);
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  position: absolute;
  transform: translate(246%, 5%);
}

.flex {
  display: flex;
}

.flex > div {
  margin: 15px;
}
