.now-playing-queue-item-row {
    border-bottom: 1px solid #dee2e6;
}

.now-playing-queue-item-row:last-child {
    border-bottom: 0px solid #dee2e6;
}

.now-playing-queue-grip {
    cursor: move;
}

.now-playing-queue-ellipsis {
    cursor: pointer;
}

.bootstrap-drop-down-container {
    background-color: rgb(55,55,55);
}

.bootstrap-drop-down-container .dropdown-item {
    color: white;
}

.bootstrap-drop-down-container .dropdown-item:hover {
    background-color: red;
}
.bootstrap-drop-down-container .dropdown-item:active {
    background-color: red;
}