.table-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.table-body {
    height: 100px;
    width: 100%;
}

.table-column-titles {
    display: grid;
    grid-template-columns: 20px 55px 1fr 150px;
    font-size: 25px;
}

.table-column-title-all-songs {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    size: 50px;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: 4;
}

.table-column-title-action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    grid-column-start: 4;
    grid-column-end: 5;
}

.table-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}