.table-item-actions {
    color: white;
    font-size: 25px;
    text-decoration: none;
    opacity: 0%;
    transition: opacity 0.2s;
}

.table-item-actions:hover {
    color: gray;
}

.table-item-container:hover .table-item-actions {
    opacity: 100%;
}

.icons-caret-left {
    color: black;
    font-size: 20px;
}

.table-item-container {
    display: grid;
    /*grid-template-columns: 35px auto 1fr auto;*/
    padding: 10px;
}

.table-item-playing {
    background-color: rgb(42, 41, 32);
    border-radius: 15px;
}

.table-item-container-number {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
}

.table-item-container-image {
    position: relative;
    background-color: antiquewhite;
    border-radius: 5%;
    width: 50px;
    height: 50px;
    font-size: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;

}

#table-item-container-image-overlay {
    transition-timing-function: ease;
}

.table-item-container-image-overlay {
    position: absolute;
    border-radius: 5%;
    width: 50px;
    height: 50px;
}

.table-item-container-image-fade {
    background-color: black;
    filter: opacity(0%);
    transition: filter .3s;
}

.table-item-container:hover .table-item-container-image-fade {
    filter: opacity(80%);
}

#icons-play {
    transition-timing-function: ease;
}

.icons-play {
    z-index: 1;
    filter: opacity(0%);
    font-size: 25px;
    transition: filter .2s;
}

.icons-plus {
    margin-right: 5px;
}

.table-item-container:hover .icons-play {
    z-index: 1;
    filter: opacity(100%);
}

.table-item-container-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding-left: 20px;
}

.table-item-container-info-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.table-item-container-info-details {
    font-size: 13px;
    color: gray;
    font-weight: 500;
}

.table-item-container-actions {
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 55px;
}

.add-to-playlist-dropdown {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playlist-actions {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.playlist-actions:hover {
    text-decoration: none;
    color: black;
}

.add-to-playlist-text {
    padding-left: 8px;
}

.action-new-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
}