.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 15px;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mainapp-body {
    background-color: #f8f6cc;
    background-image: url(/src/images/home-bg.png);
    height: 100vh;
}

.mainapp-h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #104043;
    padding-top: 10vh;
}

.mainapp-h2 {
    font-size: 20px;
    text-align: center;
    color: #104043;
    padding-top: 50vh;
}

.mainapp-h5 {
    font-size: 13px;
    text-align: center;
    color: #104043;
    padding-top: 0vh;
}

.mainapp-logo {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #DEB099;
}
