.mainapp-grid-container {
    --main-grip-gap: 10px;
    --back-color: rgba(60, 60, 60, 0.5);
    display: grid;
    grid-template: 1fr 100px / 250px 1fr;
    row-gap: var(--main-grip-gap);
    column-gap: var(--main-grip-gap);
    padding: var(--main-grip-gap);
}

.mainapp-grid-item {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    background-color: var(--back-color);
    height: 100%;
    overflow: auto;
}

.mainapp-body {
    background-color: #121212;
    background-repeat: repeat;
}

.mainapp-content-container {
    display: flex;
    overflow-y: auto;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.mainapp-content {
    flex: 1;
    color: white;
}

.player {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    box-sizing: content-box;
    width: -webkit-fill-available;
    border: 1px;
    border-color: #282828;
    background-color: var(--back-color);
    padding: 0 15px;
    border-radius: inherit;
}

.player-song-info {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.player-song-info-cover {
    display: inline-block;
    border-radius: 6px;
    max-width: 15%;
    /* padding: 15px; */
    border-radius: 20%;
}

.player-song-info-title {
    margin: auto;
    font-size: 14px;
    color: white;
}

.player-song-info-artist {
    margin: auto;
    font-size: 11px;
    color: #b3b3b3;
}

.player-controls {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* width: 500px; */
}

@media only screen and (max-width: 768px) {
    .player-controls {
        flex-direction: row;
        justify-content: flex-end;
    }

    .mainapp-grid-container {
        grid-template-columns: 1fr;
    }
}

.player-controls-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-controls-button-misc {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    color: rgb(164, 164, 164);
    font-size: 15px;
    background: none;
    border: none;
}

.player-controls-button-toggle {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    font-size: 15px;
    background: none;
    border: none;
}

.player-controls-button-play {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(164, 164, 164);
    font-size: 30px;
    background: none;
    border: none;
}

.player-controls-button-misc:hover {
    color: white;
}

.player-controls-button-play:hover {
    color: white;
}

.player-controls-progress-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.player-progress {
    color: rgb(179, 179, 179);
    display: block;
    margin: 0px;
    width: 25px;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 5px;
}

.player-progress-slider-container {
    width: 100%; /* Width of the outside container */
    display: flex;
}

/* The slider itself */
.player-progress-slider {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: #dedede;
    background-image: -webkit-gradient(
        linear,
        50% 0%,
        50% 100%,
        color-stop(0%, #ff1100),
        color-stop(100%, #ff1100)
    );
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.player-progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50%;
    background: white;
    cursor: pointer; /* Cursor on hover */
}

.player-misc-controls-volume-slider-container {
    width: auto; /* Width of the outside container */
    display: flex;
}

.player-misc-controls-volume-slider {
    margin: auto;
    outline: none;
    padding: 0;
    width: 150px;
    height: 2px;
    background-color: #dedede;
    background-image: -webkit-gradient(
        linear,
        50% 0%,
        50% 100%,
        color-stop(0%, #ff1100),
        color-stop(100%, #ff1100)
    );
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.player-misc-controls-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50%;
    background: white;
    cursor: pointer; /* Cursor on hover */
}
