.mainapp-body {
    background-color: #121212;
    background-repeat: repeat;
    height: 100vh;
}

.player {
    position: fixed;
    bottom: 0;
    height: auto;
    box-sizing: content-box;
    width: 100%;
    border: 1px;
    border-color: #282828;
    background-color: #181818;
}

.player-song-info-cover {
    display: inline-block;
    border-radius: 6px;
    max-width: 8%;
    padding: 15px;
    height: auto;
}

.player-song-info-title {
    margin:auto;
    font-size: 14px;
    color: white;
}

.player-song-info-artist {
    margin: auto;
    font-size: 11px;
    color: #B3B3B3;
}
