

.playlist-container {
    --header-padding: 1em;
    position: relative;
    min-height: 100px;
}

.playlist-header-container {
    position: absolute;
    width: calc(100% + var(--bs-gutter-x, 0.75rem));
    left: var(---bs-gutter-x, -0.75rem);
    padding: var(--header-padding);
    background-color: rgb(50,50,12);
}

.playlist-content-container {
    margin-top: calc(var(--header-padding) * 4)
}